<div class="container">
	<div class="row">
		<% @photos.each do |photo| %>
		<%= image_tag @photo.image %>
		<% end %>
		<div class="col-xs-7 col-xs-offset-5">
<%#			<%= paginate @photos, class:"paginate" %>
		</div>
	</div>
</div>